# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Databases
*.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# Backups
backups/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db